	
	
body.home-page {
	width:800px
	height: 660px; /* You must set a specified height */
	background-image: url("light_wide.png"); /* The image used */
	background-position: right; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;	
	font-size: 22px;
	color: black;
}

body.other-page { background-color: white;
	font-size: 22px;
	color: black;
}

#about_font_blue {color: darkgreen}

html {
	/* background-color: white; */
	/* background-image: url("bw_wide_blue.png"); The image used */
	width:800px
	height: 660px; /* You must set a specified height */
	/* background-position: right; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; */
	/* padding: 3em 3em; */
	font-size: 22px;
	/* background: white; */
	color: black;
}

/* ALL ITEMS WITH COLOR ATTRIBUTES */
/* ACTIVE AND THEY LIKE IT: */

p {color: teal}

.box_navbar {
	font-family: 'Open Sans Condensed', sans-serif;
		width: 95%;height: 50px ;background: white;
	/* border: 5px  solid white; */
	padding: 1em;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 10px;
}

.box_title { grid-column: 1; 
	grid-row: 1;
	/* background:white; */
	font-family: 'Anton', sans-serif;
	font-size: 48px;
	font-weight: 200;
	border: 5px solid teal;
	color: teal;
	width: 280px;
	height: ;: 50px;
	text-align: center;
}   

/* Style the links inside the navigation bar */
.topnav a {
	float:right;
	color: white;
	font-family: 'Boogaloo', cursive;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 28px;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: teal;
	color: white;
}
	
/* Add a color to the active/current link */
.topnav a.active {
	background-color: white;
	color:  teal;
}

/* Add a white background color to the top navigation */
.topnav {
	background-color: white;
	overflow: hidden;
	grid-column: 2; 
	grid-row: 1;
}
		
/* Style the links inside the navigation bar */
.topnav a {
	float:right;
	color: black;
	font-family: 'Boogaloo', cursive;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 28px;
}
		
/* Change the color of links on hover */
.topnav a:hover {
	background-color: teal;
	color: white;
}
		
/* Add a color to the active/current link */
.topnav a.active {
	background-color: teal;
	color:  white;
}


/* Add a white background color to the top navigation */
.topnav {
	/* background-color: white; */
	overflow: hidden;
	grid-column: 2; 
	grid-row: 1;
}

#b_pic1 {background-color: plum; width: 100%; grid-column: 1; grid-row: 1;}
#b_detail1 {background-color:palegoldenrod; padding-left:30px; width: 100%;  grid-column: 2; grid-row: 1;}
#b_pic2 {background-color: tomato ; width: 100%;   grid-column: 1; grid-row: 1;}
#b_detail2 {background-color:palegoldenrod; padding-left:30px; width: 100%;  grid-column: 2; grid-row: 1;}
#b_pic3 {background-color:turquoise; width: 100%;  grid-column: 1; grid-row: 1;}
#b_detail3 {background-color:palegoldenrod; padding-left:30px; width: 100%;   grid-column: 2; grid-row: 1;}
#b_pic4 {background-color: cornflowerblue; width: 100%; grid-column: 1; grid-row: 1;}
#b_detail4 {background-color:palegoldenrod; padding-left:30px; width: 100%;  grid-column: 2; grid-row: 1;}
#b_pic5 {background-color: olivedrab; width: 100%;  grid-column: 1; grid-row: 1;}
#b_detail5 {background-color:palegoldenrod; padding-left:30px; width: 100%;  grid-column: 2; grid-row: 1;}
#b_link {text-align: left; font-family: 'Boogaloo', cursive; font-size: 1em; color: black; }
#b_heading {text-align: left; font-family: 'Boogaloo', cursive; font-size: 1.7em; color: teal; }
#b_brief {text-align: left; font-family: 'Boogaloo', cursive; font-size: 1.1em; color: black; }
#b_length {text-align: left; font-family: 'Boogaloo', cursive; font-size: 1.1em; color: tomato; }
#b_heading_main {text-align: center; font-family: 'Boogaloo', cursive; font-size: 8.2em; color: teal; }
#blog_menu_picture {grid-column: 1; grid-row: 1; border: solid teal; border-width: 5px; width: 220px; height: 294px;}

.about_container {
	font-family: 'Boogaloo', cursive;
	width: 100%;
	height: 390px ;
	background: palegreen;
	border: 5px solid palegreen;
	border-right-width: 0px;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-gap: 10px;
	grid-auto-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
	
#contact_me_border {border: solid teal;border-width: 5px; width: 360px; height: 480px; }		 
	
.box_about3 {  grid-column: 1; grid-row: 1; text-align: right; background: palegreen}
.box_about4 {  grid-column: 2; grid-row: 1; background: palegreen}
.box_about5 {  grid-column: 1; grid-row: 2; text-align: right; background: palegreen}
.box_about6 {  grid-column: 2; grid-row: 2; background: palegreen}
.box_about7 { color:teal; grid-column: 1; grid-row: 3; text-align: right; background: palegreen}
.box_about8 {  grid-column: 2; grid-row: 3; background: palegreen}
.box_about9 {  grid-column: 1; grid-row: 4; text-align: right; background: palegreen}
.box_about10 {  grid-column: 2; grid-row: 4; background: palegreen}
.box_about11 {  grid-column: 1; grid-row: 5; text-align: right; background: palegreen}
.box_about12 { grid-column: 2; grid-row: 5; background: palegreen}
.box_about13 {  grid-column: 1; grid-row: 6; text-align: right; background: palegreen}
.box_about14 {  grid-column: 2; grid-row: 6; background: palegreen}	
.box_about15 {  grid-column: 1; grid-row: 7; text-align: right; background: palegreen}
.box_about16 {  grid-column: 2; grid-row: 7; background: palegreen}			
.box_about20 { background: teal; grid-column: 2; grid-row: 10}
.box_about28 {  grid-column: 2; grid-row: 3; background: teal; height: 50px; border: solid 5px teal;}
		
.box_about2 {  grid-column: 2; 
	grid-row: 1;
	background:teal;
	border: 5px solid teal;
	height: 50px
}
			
.box_about_title { grid-column: 1; 
	grid-row: 1;
	/* background:white; */
	font-family: 'Anton', sans-serif;
	font-size: 48px;
	font-weight: 200;
	border: 5px solid teal;
	color: teal;
	width: 280px;
	heght: 50px;
	text-align: center;}
		
#box_about_image_border { border: solid teal;border-width: 5px; width: 300px;height: 400px;}
#box_resume_image_border { border: solid teal;border-width: 5px; width: 380px;height: 507px;}
#first_name { position: relative; ; z-index: 0; left:-36%; font-size: 2.8em; color: teal;}
#last_name { position:relative; z-index: 0; left:-18%; font-size: 3.8em; color: teal;}
#resume_headings{font-size: 1.2em;  color: teal; font-family: 'Luckiest Guy', cursive;	}
#resume_headings2{ font-size: 1.2em;  color: palevioletred; font-family: 'Luckiest Guy', cursive;	}
#resume_content {height: auto ; grid-column: 1; grid-row: 1; font-size: 1.7em ; color:black ;font-family: 'Luckiest Guy', cursive;	}
#resume_sub_headings {font-size 1em; color:black ;font-family: 'Luckiest Guy', cursive;	}
			 
.tooltip .tooltiptext {
	visibility: hidden;
	font-family: 'Luckiest Guy', cursive;
	width: auto;
	background-color: black ;
	color: white;
	text-align: center;
	border-radius: 6px;
	padding: 10px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 1s;
}
			   
.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
				 top: 100%; /* At the bottom of the tooltip */
				 left: 50%;
				 margin-left: -5px;
				 border-width: 5px;
				 border-style: solid;
				 border-color: white transparent transparent transparent;
			   }
			 
	
			   #blue_font1 {color: teal;
				text-align: right;
				grid-column: 1; grid-row: 1; 
				font-size: 30px;
				}
				
				#blue_font2 {color: teal;
				text-align: right;
				grid-column: 1; grid-row: 2; 
				font-size: 30px;
				} 
				
			
				input[type=text] {
					border: 2px solid teal;
					border-radius: 4px;
					width: 100%;
					padding: 8px 8px;
					margin: 8px 0;
					box-sizing: border-box;
					}
				

	  
					h2 { color: darkgreen;
						font-weight: 200;
					  font-size: 1.5em;
					  font-stretch: semi-expanded ;
						font-family: 'Luckiest Guy', cursive;	
						float: left ;
						padding-right:  7px;
							 }
							
							h3  { color: palevioletred;
						font-weight: 200;
					  font-size: 1.5em;
					  font-stretch: semi-expanded ;
						font-family: 'Luckiest Guy', cursive;	
							 float:  left;
									}
					  
										  
					
							  
					.box_index_title { grid-column: 1; 
						grid-row: 1;
							
							/* background:white; */
							font-family: 'Luckiest Guy', cursive;	
					
							font-size: 42px;
							font-weight: 200;
							border: 10px solid teal;
					padding-top: 8px;
							color: teal;
							width: 280px;
							heght: 50px;
							text-align: center;
					
							
					
						}
						
					
					
					
							#profile_menu_picture {grid-column: 1; grid-row: 1; border: solid teal; border-width: 5px; width: 220px; height: 292px;}
					
					

							.about_container_top {width: 90%;
								align-content: center;
								align-items: center;
								padding-top: 50px;
								padding-left: 50px;
								padding-right: 50px;
								padding-bottom: 50px;
								height: auto;
								border: 5px solid white;
							display: grid;
							grid-template-columns: 30% 70%;
							grid-gap: 10px;
								grid-auto-rows: 50px 80% 50px;
								
							}	
							
							.container_about {width: 100%;
								align-content: center;
								align-items: center;
								padding-top: 50px;
								padding-left: 50px;
								padding-right: 50px;
								padding-bottom: 50px;
								height: auto;
								border: 10px solid palegreen;
							display: grid;
							grid-template-columns: 60% 40%;
							grid-gap: 20px;
								grid-auto-rows: 50px;
								
							}	
								
												

/* NON ACTIVE COLORS NO ISSUES DETECTED */


	.item {width: 100%; height: 100%;}
	
	/* END NAV BAR */	
	.blog_container {
		width: 95%;
		height: 1260px;
		/* background: white; */
		/* border: 5px solid white; */
	padding-top: 15px;
		display: grid;
		  grid-template-columns: 1fr;
		  grid-gap: 10px;
		  /* grid-auto-rows: 3fr 1fr 3fr; */
	  }
	
	

	


	
		
.profile_container {
	width: 95%;
	height: 1100px;
	
	/* background: white; */
	/* border: 5px solid white; */
padding-top: 35px;
	display: grid;
	  grid-template-columns: 1fr;
	  grid-gap: 10px;
	  /* grid-auto-rows: 3fr 1fr 3fr; */
  }
	


  #profile_content1 {   grid-column: 1; grid-row: 1; text-align: left;
	/* border-bottom: solid white;  */
	border-width: 20px; height: 450px;}
#profile_content2 { grid-column: 2; grid-row: 1; text-align: left; 
   /* border-bottom: solid white;  */
   border-width: 20px; height: 400px; padding-left: 20px; }
#profile_content3 { grid-column: 1; grid-row: 2; text-align: left; 
   /* border-bottom: solid white; */
	border-width: 20px; height: 600px; }

#profile_pic1 {  grid-column: 2; grid-row: 2;
	/* border-bottom: solid white;  */
   border-width: 20px; height: 600px; padding-left: 20px;  }
	   
  
  
.container_resume {
	width: 100%;
	height: 540px;
	/* background: white; */
	/* border: 5px solid white; */
padding-top: 35px;
	display: grid;
	  grid-template-columns: 4fr 1fr;
	  grid-gap: 10px;
	  /* grid-auto-rows: 3fr 1fr 3fr; */
  }

  .b_res1 { 
	  /* background: white;  */
	  grid-column: 1; 
	  grid-row: 1;
  
  align-content: right;
  justify-content: right;
  align-items: right;
	  }



		
	  .container_main_contact {
		font-family: 'Open Sans Condensed', sans-serif;
	  width: 90%;
	  height: 480px ;
	padding: 50px;
	
	
	
	  /* border: 5px solid white; */
	
	
	  display: grid;
		grid-template-columns: 3fr 3fr 3fr;
		grid-gap: 10px;
		
	}
	

/* END OF COLORS NON ACTIVE */

		




  .blog_main {grid-column: 1; grid-row: 1; 
	width: 100%;
	height: 1200px;
	padding-left:20px;
	display: grid;

	  grid-template-columns: 5fr 5fr 5fr;
	  grid-gap: 10px;
	  grid-auto-rows: 2fr 2fr 2fr;
}


.blog_main2 {grid-column: 1; grid-row: 1; 
	width: 1200px;
	height: auto;
	padding-left:20px;
	display: grid;

	  grid-template-columns: 1fr 5fr;
	  grid-gap: 20px;
	  grid-auto-rows: 2fr 2fr 2fr;
}

#blog_content1 { grid-column: 1; grid-row: 1; text-align: left; height: auto; width: 800px; display: grid; grid-template-columns: 1fr 3fr; grid-gap: 20px; padding: 20px;  }
#blog_content2 {grid-column: 1; grid-row: 2; text-align: left; height: auto; width: 800px;  display: grid; grid-template-columns: 1fr 3fr; grid-gap: 20px;  padding: 20px;  }
#blog_content3 {grid-column: 1; grid-row: 3; text-align: left; height: auto; width: 800px;  display: grid; grid-template-columns: 1fr 3fr; grid-gap: 20px;  padding: 20px;  }

#blog_content4 { grid-column: 2; grid-row: 1; text-align: left; height: auto; width: 800px;  display: grid; grid-template-columns:  1fr 3fr; grid-gap: 20px;  padding: 20px;   }
#blog_content5 {grid-column: 2; grid-row: 2; text-align: left; height: auto; width: 800px;  display: grid; grid-template-columns: 1fr 3fr; grid-gap: 20px;  padding: 20px;  }
#blog_content6 {grid-column: 2; grid-row: 3; text-align: left; height: auto; width: 800px;  display: grid; grid-template-columns: 1fr 3fr;grid-gap: 20px;  padding: 20px;  }

#b_upwrite {width: 150px;
  height: 3em;
	text-align: right;
	writing-mode:vertical-lr;
text-orientation:upright;
padding-top: 25px;
padding-bottom: 25px;
font-family: 'Luckiest Guy', cursive;	

  }

.blog_menu { grid-column: 3;
grid-row: 1;
padding-right:20px;
grid-auto-rows: 3fr 2fr 2fr 2fr;
 height: auto;}



#blog_social_box { grid-column: 1;
	grid-row: 5; 
	padding-top: 50px;    
	width: auto;
	display: grid;
	grid-template-columns:1fr 1fr 1fr; 
	grid-auto-rows: 1fr 1fr 1fr; }
  
  
  
	#b_social_1 { grid-column: 1; grid-row: 1;}
	#b_social_2 { grid-column: 2; grid-row: 1;}
	#b_social_3 { grid-column: 1; grid-row: 2;}
	#b_social_4 { grid-column: 2; grid-row: 2;}
	#b_social_5 { grid-column: 1; grid-row: 3;}
	#b_social_6 { grid-column: 2; grid-row: 3;}
  
  
  #blog_main {grid-column: 2; grid-row: 1; 
	visibility:visible ;
	height: 900px;
	width: 500px;
	font-family: 'Boogaloo', cursive;
	display: grid;
	grid-template-columns: 3fr 3fr;
	grid-auto-rows: 2fr 2fr 2fr 2fr;
  }
  

  .socials_contact_blog {
	width: 120px;
	height: 120px;

	position: relative;
	display: inline-block;
}
.socials_contact_blog .img-top {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
		.socials_contact_blog:hover .img-top {
	display: inline;
}

/* END BLOG */
  
.socials_about {
	width: 50px;
	height: 50px;
	position: relative;
	display: inline-block;
}
.socials_about .img-top {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
		.socials_about:hover .img-top {
	display: inline;
}
	
@keyframes ಠ_ಠ {
	100% { transform: rotateY(-40deg) rotateX(-43deg); }
  }

.box_about17 {  grid-column: 1; grid-row: 9}
.box_about18 {  grid-column: 2; grid-row: 9}
.box_about19 {  grid-column: 1; grid-row: 10; text-align: right;}

.box_about21 { b grid-column: 1; grid-row: 11}
.box_about22 {  grid-column: 2; grid-row: 11}
.box_about23 {  grid-column: 1; grid-row: 12}
.box_about24 {  grid-column: 2; grid-row: 12}



.box_about25 {  grid-column: 1; grid-row: 2;
align-content: center; align-items: center; text-align: center;}
.box_about26 {  grid-column: 2; grid-row: 2; text-align: left; padding-top: 60px}





.box_about27 {  grid-column: 1; grid-row: 3; align-content: center; align-items: center; text-align: center}

.box_about1 {  grid-column: 1; grid-row: 1;
text-align:center;
}

/* 	
END ABOUT */
	

  .profile_main {grid-column: 1; grid-row: 1; 
	width: 100%;
	height: 1200px;
	padding-left:20px;
	display: grid;
	  grid-template-columns: 1fr 4fr;
	  grid-gap: 10px;
}

.profile_menu { grid-column: 1;
grid-row: 1;
padding-right:20px;
grid-auto-rows: 1fr 1fr 1fr 2fr 1fr;
 height: auto;}

#get_result { padding-top: 20px; grid-column: 1; grid-row: 2;}
#unraid_ssh { padding-top: 20px; grid-column: 1; grid-row: 3;}
#fruit_veg { padding-top: 20px; padding-bottom: 20px; grid-column: 1; grid-row: 4;}

#profile_social_box { grid-column: 1;
grid-row: 5; 
padding-top: 50px;    
width: auto;
display: grid;
grid-template-columns:1fr 1fr 1fr; 
grid-auto-rows: 1fr 1fr 1fr; }



#social_1 { grid-column: 1; grid-row: 1;}
#social_2 { grid-column: 2; grid-row: 1;}
#social_3 { grid-column: 1; grid-row: 2;}
#social_4 { grid-column: 2; grid-row: 2;}
#social_5 { grid-column: 1; grid-row: 3;}
#social_6 { grid-column: 2; grid-row: 3;}


#get_result_main {grid-column: 2; grid-row: 1; 
visibility:visible ;
height: 900px;
width: 500px;
font-family: 'Boogaloo', cursive;
display: grid;
grid-template-columns: 3fr 3fr;
grid-auto-rows: 2fr 2fr 2fr 2fr;
}


	#profile_pic2 { grid-column: 1; grid-row: 3;}
#profile_pic3 {grid-column: 2; grid-row: 3;}

.socials_contact_profile {
	  width: 120px;
	  height: 120px;

	  position: relative;
	  display: inline-block;
  }
  .socials_contact_profile .img-top {
	  display: none;
	  position: absolute;
	  top: 0;
	  left: 0;
	  z-index: 99;
}
		  .socials_contact_profile:hover .img-top {
	  display: inline;
  }

/* end profile  */

.socials_contact_resume {
	width: 50px;
	height: 50px;

	position: relative;
	display: inline-block;
}
.socials_contact_resume .img-top {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
		.socials_contact_resume:hover .img-top {
	display: inline;
}


		
#upwrite {width: 150px;
    height: 3em;
      text-align: right;
      writing-mode:vertical-lr;
  text-orientation:upright;
 padding-top: 25px;
  font-family: 'Luckiest Guy', cursive;	

    }

.resume_container2 {width: 100%;
      display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 10px;
}

.resume_container3 {width: 100%;
      display: grid;
      height: 400px;
        grid-template-columns: 3fr 1fr;
        grid-gap: 10px;
        grid-auto-rows: 1fr 1fr 1fr;
        
}

.resume_inner_1 { grid-column: 1; grid-row: 1; text-align: right;grid-auto-rows: 2fr 1fr; height: auto;}
.resume_inner_2{ grid-column: 2; grid-row: 1; text-align: left;}

#job_name { position: initial; z-index: 0; bottom:100%; font-size: 3.4em;  }
#resume_main_heading {height: auto; 1; grid-row: 1; font-size: 2.4em; font-family: 'Luckiest Guy', cursive;	 }


#word_down { width:180px; grid-column: 2; grid-row: 2; }
#pdf_down { grid-column: 2; grid-row: 3;}

#border_box {height:auto; grid-column: 1; grid-row: 2; padding-left: 20px; }
#border_box2 {height:auto;  grid-column: 1; grid-row: 3; padding-left: 20px; }
#border_box3 {height:auto;  grid-column: 1; grid-row: 1; padding-left: 20px; }
#picture_box { grid-column: 1; grid-row: 1; text-align: center; padding-left: 20px;}
#socials_box { padding: 10px; width:100%;  grid-column: 1; grid-row: 4; text-align: right; }
.tooltip { position: relative; display: inline-block;  padding-top: 3px ;}
#resume_box { }

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
	  	
		.container_contact_top {width: 100%;
			align-content: center;
			align-items: center;
			/* padding: 50px; */
      /* padding-left: 50px; */

			height: 480px;

      display: grid;
        grid-template-columns: 4fr;
        grid-gap: 10px;
        grid-auto-rows: 80px 80px 320px;
			
		}	

    .box_contact_top_1 {  grid-column: 1; grid-row: 1;
		text-align:center; width: 320px; height: 80px;
		}
		
		.box_contact_top_2 {  grid-column: 1; grid-row: 2;
		text-align:center; width: 320px; height: 80px;
		font-family: 'Boogaloo', cursive;
		}

		#box_blank {  grid-column: 1; grid-row: 3;
		text-align:center;   background-image: url("social_logos/blank1.png");
  width: 340px;
  height: 340px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
		}

    #twitter {  grid-column: 1;
      grid-row: 3;
     
      text-align: center;
  background-image: url("twitter_new.png");
  width: 340px;
  height: 340px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:none;
}

#linkedin {  grid-column: 1;
      grid-row: 3;
     
      text-align: center;
  background-image: url("linkedin_new.png");
  width: 340px;
  height: 340px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:none;
}

#github {  grid-column: 1;
      grid-row: 3;
     
      text-align: center;
  background-image: url("git_hub_new.png");
  width: 340px;
  height: 340px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:none;
}

#medium {  grid-column: 1;
      grid-row: 3;
     
      text-align: center;
  background-image: url("medium_new.png");
  width: 340px;
  height: 340px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:none;
}

#phone {  grid-column: 1;
      grid-row: 3;
     
      text-align: center;
  background-image: url("phone_new.png");
  width: 340px;
  height: 340px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:none;
}

#email {  grid-column: 1;
      grid-row: 3;
     
      text-align: center;
  background-image: url("email_new.png");
  width: 340px;
  height: 340px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:none;
}
 

.box_contact_main_1 { grid-column: 1; grid-row: 1; justify-content: center; text-align: left;}	
.box_contact_main_2 { grid-column: 2; grid-row: 1; padding-right:}
.box_contact_main_3 { grid-column: 3; grid-row: 1; justify-content: center; text-align: right;}

/* END CONTAINER HOLD LEFT+RIGHT		 */

/* START CONTACT ME LEFT */

.contact_me_left { 
		height: 480px;	
  display: grid;
	grid-template-columns: 1fr 1fr;
		grid-auto-rows: 1fr 1fr 1fr;
  grid-gap: 10px;

}

.box_left_1 {  grid-column: 1; grid-row: 1;}
.box_left_2 {  grid-column: 1; grid-row: 2;}	
.box_left_3 {  grid-column: 1; grid-row: 3;}
.box_left_4 { grid-column: 2; grid-row: 1;}
  .box_left_5 { grid-column: 2; grid-row: 2;}
.box_left_6 { grid-column: 2; grid-row: 3;}

/* END CONTACT ME LEFT */


/* START CONTACT ME RIGHT */

.contact_me_right { height: 320px;	
  display: grid;
  
	grid-template-columns: 1fr;
		grid-auto-rows: 3fr 1fr 2fr;
  grid-gap: 5px;
}
.box_right_1 {  grid-column: 1; grid-row: 1; height: 110px;}
.box_right_2 {  grid-column: 1; grid-row: 2; height: 110px ;}	
.box_right_3 {  grid-column: 1; grid-row: 3; display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-evenly;}

#social_details {
height: 100px;	
  display: grid;
	grid-template-columns: 1fr 1fr;
		grid-auto-rows: 1fr 1fr;
  grid-gap: 5px;

}

#left_font1 {
  text-align: left;
  grid-column: 2; grid-row: 1; 
}

#left_font2 {
  text-align: left;
  grid-column: 2; grid-row: 2; 
}

#pad_box {

}

/* END CONTACT ME RIGHT */

/* START CONTACT ME SOCIALS  */

.socials_contact {
	width: 50px;
	height: 50px;

	position: relative;
	display: inline-block;
}
.socials_contact .img-top {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
		.socials_contact:hover .img-top {
	display: inline;
}

/* end CONTACT ME SOCIALS  */


/* START SOCIALS */
.socials {
	width: 50px;
	height: 50px;
	position: relative;
	display: inline-block;
}
.socials .img-top {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
		.socials:hover .img-top {
	display: inline;
}
/* 		
END SOCIALS */



body {


}
h1,h2,h3 {
  

margin: 0.0em 0;
}
h1 { font-size: 3.0em;
  font-family: 'Luckiest Guy', cursive;
  font-stretch: extra-condensed;
	   }
  
#h1_about {font-size: 2.6em;
	font-family: 'Luckiest Guy', cursive;	
}
#h1_contact {font-size: 2.2em;
	font-family: 'Luckiest Guy', cursive;	
}
  
  
	  
	  .footer {font-family: 'Luckiest Guy', cursive;
font-size: 22px;
position:fixed:  ;
left: 0;
bottom: 0;
width: 100%;

color: white;
text-align: center;
	  }

	  .box_index_navbar {
		  font-family: 'Open Sans Condensed', sans-serif;

	width: 95%;
	height: 50px ;
	/* background: white; */
	  
	/* border: 5px  solid white; */
		  
	  padding: 1em;

	display: grid;
	  grid-template-columns: 1fr 3fr;
	  grid-gap: 10px;

		  
	  }
			  
	  
	  
	  
	  
	  
  .container_index {
	width: 95%;
	height: 500px;
	padding-left: 50px;


	display: grid;
	  grid-template-columns: 8fr 2fr;
	  grid-gap: 10px;
	  grid-auto-rows: 1.5fr 1fr 2fr;
  }

  .box_index1 { background: 
	  grid-column: 1; 
	  grid-row: 1
	  }
  .box_index2 { background:  grid-column: 2; grid-row: 1}
  .box_index3 { background:  grid-column: 1; grid-row: 2}
  .box_index4 { background: grid-column: 2; grid-row: 2}
  .box_index5 { background:  grid-column: 1;
   grid-row: 3;  ;

   text-align:center;
   padding-top: 4em;}
  .box_index6 { background: grid-column: 2; grid-row: 3}

	  
	  
	  


  .socials_index {
	  width: 66px;
	  height: 66px;
	  position: relative;
	  display: inline-block;
  }
  .socials_index .img-top {
	  display: none;
	  position: absolute;
	  top: 0;
	  left: 0;
	  z-index: 99;
}
		  .socials_index:hover .img-top {
	  display: inline;
  }